body{
    background-image: url('../../assets/images/map.jpg');
}

#headline{
    width:80%;
    margin-top:10px;
    margin-bottom:10px;
}

#header{
    background-color:white;
    margin-top:30px;
    text-align: center;
    border-style: solid;
    border-color: #0daf91;
    border-width: 5px;
    position: relative;
}

#primary{
    background-color:white;
    border-style: solid;
    border-color: #0daf91;
    border-width: 5px;
    margin-top:10px;
    padding:10px;
    position: relative;
    height:500px;
}

#btn{
    background-color: #0daf91;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    padding:10px;
    font-size: 16px;
    position:absolute;
    bottom: 10px;

}

#quiz-question{
    font-size: 22px;

}

#timer{
    font-size:25px;
    text-align: center;
}

#quiz-answers{
    font-size: 16px;
}

