body{
    background-image: url('../../assets/images/map.jpg');
}

#headline{
    width:700px;
    margin-top:10px;
    margin-bottom:10px;
}

#header{
    background-color:white;
    margin-top:30px;
    text-align: center;
    border-style: solid;
    border-color: #0daf91;
    border-width: 5px;
}

#primary{
    background-color:white;
    height:400px;
    border-style: solid;
    border-color: #0daf91;
    border-width: 5px;
    margin-top:10px;

}
